<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
User Feedback
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <form [formGroup]="UserForm" id="UserForm" (ngSubmit)="onSubmit(UserForm.value)" method="post" >
        <div class="modal-header">
          <h5 class="modal-title mx-auto" id="exampleModalLabel">Submit Support Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">Name:*</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name" autocomplete="off" formControlName="name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email:*</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email ID" autocomplete="off" formControlName="email" />
                  </div>    
                </div>
                <div class="form-group row">
                  <label for="support_type" class="col-sm-2 col-form-label">Support Type:*</label>
                  <div class="col-sm-10">
                      <select class="form-control" name="support_type" id="support_type" formControlName="support_type">
                        <option value="-1" selected>-Select Type-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                  </div>    
                </div>
                <div class="form-group row">
                    <label for="subject" class="col-sm-2 col-form-label">Subject:*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Enter Subject" autocomplete="off" formControlName="subject" />
                    </div>       
                </div>
                <div class="form-group row">
                    <label for="desc" class="col-sm-2 col-form-label">Description:*</label>
                    <div class="col-sm-10">
                        <textarea name="desc" id="desc" placeholder="Enter Description" formControlName="desc" style="min-width: 100%"></textarea>
                    </div>      
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        (*) denotes required fields
                    </div>      
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="file" name="upload_file" #UploadImg formControlName="UploadImg" />
                    </div>      
                </div>
                <input type="hidden" name="_subject" value="Contact form submitted">
                <input type="hidden" name="_after" value="https://myhomepage.net/">
                <input type="hidden" name="_honeypot" value="">
                <input type="hidden" name="_confirmation" value="">
                
             
        </div>
        <div class="modal-footer">
         <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>-->
          <input type="button" id="close_btn" name="close_btn" class="btn btn-secondary" data-dismiss="modal" value="Close" />&nbsp;
          <input type="submit" [disabled]="!UserForm.valid" class="btn btn-primary" value="Submit" />
        </div> 
        
        </form>
      </div>
    </div>
  </div>

